@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(226, 242, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

h1 {
  color: #002324;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight: bolder;
}

.TodoWrapper {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 800px; /* Set a max-width to limit the width */
  width: 100%; /* Ensure it takes the full width of the container */
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #00a0a9;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%; /* Make input width 100% */
  color: #000;
}
.inputContainer {
  display: flex;
}

.todo-input {
  flex: 1;
  /* Add any other styling you need */
}

.todo-input::placeholder {
  color: #00a0a9;
}

.todo-btn,
.clear-btn {
  background: #00a0a9;
  color: #fff;
  border: none;
  margin-top: 6%;
  margin-bottom: 11.5%;
  cursor: pointer;
  padding: 0.5em;
}
.todo-btnn {
  cursor: pointer;
  background: #00a0a9;
  color: #fff;

  padding: 0.15rem;
}
.taskCount {
  float: left;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00a0a9;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.link {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background: #00a0a9;
  color: #fff;
  border: none;
  width: 100%;
  text-decoration: none;
  padding: 0.25em;
  text-align: left;
  font-size: 1rem;
}
.icon {
  margin-right: 0.5em;
}
.sideBtn {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  cursor: pointer;
  background: #00a0a9;
  color: #fff;
  border: none;
  width: 100%;
  text-decoration: none;
  padding: 0.25em;
  text-align: left;
  font-size: 1rem;
}
.fa-trash {
  margin-left: 0.75rem;
}

.faSave {
  margin-left: 0.75rem;
  color: #00a0a9;
  font-size: larger;
}

.faCalendarDays {
  margin-left: 0.75rem;
  color: #00a0a9;
  font-size: larger;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #000000;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.aside {
  height: 100%;

  padding: 20px;

  position: fixed; /* Fixed position to stay on the left */
  left: 0; /* Align to the left */
  top: 0; /* Align to the top */
  bottom: 0; /* Align to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aside h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.side-panel {
  width: 250px;
  height: 100vh;
  background-color: aliceblue;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.side-panel h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.search-form {
  margin-bottom: 20px;
}

.search-input {
  width: calc(100% - 90px); /* Adjust width to leave space for the button */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.searchField {
  align-content: center;

  padding: 10px;
  background-color: white;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.searchField::placeholder {
  color: #00a0a9;
}
.search-btn:hover {
  background-color: #0056b3;
}

/* Optional: Add more styles as needed */
